*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #aaacaf;
}

main::after{
  clear: both;
  display: table;
  content:'';
}

.col{
  margin: 33px;
  border-radius: 10px;
  float: left;
}

.sx{
  width: 30%;
  height: 350px;
  background-color: #aaacaf;
}

.dx{
  width: 60%;
  height: 400px;
  background-color: white;
}

.profilo{
  width: 100%;
  height: 70%;
  margin-bottom: 20px;
}

.social{
  width: 100%;
  height: 30%;
}

.social, .profilo, footer{
  border-radius: 10px;
  background-color: white;
}

footer{
  width: 80%;
  height: 140px;
  margin: 10px 33px 0px 33px;
}
.profilo{
  padding: 10px;
}

.profilo > img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.profilo h3{
  color: #e2391f;
}

h5{
  margin: 5px;
  font-weight: bold;
}

h3, h5{
  text-align: center;
}
p{
  text-align: justify;
  margin-bottom: 10px;
}

.profilo button{
  background-color: #e2391f;
  color: white;
  border-radius: 2px;
  margin: auto;
  display: block;
  border-style:none;
  height: 30px;
  width: 90px;
}

.social::after{
  clear: both;
  display: table;
  content:'';
}

.face, .link, .twit{
  width: 33.333%;
  height: 100%;
  border-radius: 10px;
  float: left;
}

.social img{
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  transform: translate(0%, 50%);
}

.dx{
  padding: 30px 50px;
}

.primo{
  width: 100%;
  height: 45%;
  padding: 10px 0px;
}

.primo::after{
  clear: both;
  display: table;
  content:'';
}

.img1{
  width: 15%;
  height: 100%;
  float: left;
}

.img1 img{
  width: 100%;
  height: 100%;
}

.testo1{
  width: 85%;
  height: 100%;
  float: left;
  padding: 15px;
}

.testo1 > p{
  padding-top: 10px;
}



























.
